<h1 class="text-center mt-5 display-4">Available Songs
    <p><a class="bg-info btn btn-secondary" href="/create">Add New Song</a></p>
    <br />
</h1>

<div class="shadow-lg bg-white rounded m-5">
    <div class="row gx-5 gy-5 row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols">
        <div class="column align-self-center" *ngFor="let song of songs"> <a routerLink="/details/{{song._id}}">
                <img class="card-img-top" src={{song.image}} style="width:500px; height:500px;"></a>
            <div class="card-body text-center"><a routerLink="/details/{{song._id}}">
                    <h4 class="card-title">{{song.track}}</h4>
                    <!--small by-->
                    <h3 class="card-text">by {{song.artist_name}}</h3><br>
                </a><a class="bg-info btn btn-secondary" href="#">${{song.price}}</a><a
                    class="bg-info btn btn-secondary" href="#">Buy Or Rent</a>
            </div>
        </div>
        <div class="column align-self-center"> </div>
    </div>
</div>