extends layout 
 
block content  
     h1.text-center.mt-5.display-5 ABOUT US
        div.mar.shadow-lg.p-6.rounded.m-5
            .row.gx-5.gy-5.row-cols-1.row-cols-md-2.row-cols-lg-3.row-cols-xl-4
            div.row 
                .column.align-self-center.p-5
                    img(src="/images/Rewind.png" width="100%" height="75%").shadow-sm.bg-white.rounded.im2
                .column.align-self-center.p-5
                    div.mapouter
                        div.gmap_canvas
                            iframe(width="100%" height="500px" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2895.103169650122!2d-80.52067998429538!3d43.4793172716748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882bf31d0cec9491%3A0x8bf5f60c306d2207!2sConestoga%20College%20-%20Waterloo!5e0!3m2!1sen!2sca!4v1643244647967!5m2!1sen!2sca" frameborder="0" scrolling="no" marginheight="0" marginwidth="0").shadow-sm.bg-white.rounded
                                .a (href="https://123movies-to.org") 123movies
                                br
                                a(href="https://www.embedgooglemap.net") embedgooglemap.net
                       
            div.row.mt-3           
                h2 About Rewind          
                h4.al Of the converted stores, Rewind planned to stock a larger and broader array of music in comparison to HMV, including larger selections of vinyl records and music by local independent artists, as well as expanded offerings of music and entertainment apparel and merchandise. 
        