extends layout

block content
  .container
    .row
      .col-12.col-md-8.mt-3
        form#songformdata.songform(action='/create' method='POST')
          .form-group.row.mb-3
            label.col-10.col-sm-2.col-form-label Artist Name 
            .col-12.col-sm-10
              input#artist_name.form-control(type='text' required='' aria-describedby='' placeholder='Enter Artist Name' name='artist_name')
          .form-group.row.mb-3
            label.col-10.col-sm-2.col-form-label Track 
            .col-12.col-sm-10
              input#track.form-control(type='text' required='' aria-describedby='' placeholder='Enter Track' name='track')
          .form-group.row.mb-3
            label.col-10.col-sm-2.col-form-label Genre
            .col-12.col-sm-10
              input#genre.form-control(type='text' required='' aria-describedby='' placeholder='Enter Genre' name='genre')
          .form-group.row.mb-3
            label.col-10.col-sm-2.col-form-label Price
            .col-12.col-sm-10
              textarea#price.form-control(type='text' required='' aria-describedby='' placeholder='Enter Price' name='price')
          .form-group.row.mb-3
            label.col-10.col-sm-2.col-form-label Description
            .col-12.col-sm-10
              textarea#price.form-control(type='text' rows=5 placeholder='Enter Description' name='description')
          .col-12.col-md-4
          .form-group.row.mb-3
            label(for='image') Poster URL:
            input.form-control(type='text' name='image' placeholder="Paste the Poster URL for the movie")
            
            //- label(for='image') Select Cover Photo (Optional)
            //-   input#image.form-control(type='text'  aria-describedby='' name='image')
          button#sub.btn.btn-primary(type='submit') Submit  