extends layout

block content
    div
        #carouselExampleIndicators.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
            li(data-target='#carouselExampleIndicators' data-slide-to='1')
            li(data-target='#carouselExampleIndicators' data-slide-to='2')
        .carousel-inner
            .carousel-item.active
            center 
                img.d-block.w-100.h-55(src="https://catchthemes.com/demo/my-music-band-ecommerce/files/2018/07/slider-02-1920x1080.jpg" alt='First slide')
                div.carousel-caption.d-none.d-md-block
                h3.text-uppercase Future is here
            .carousel-item
            center
                img.d-block.w-100.h-55(src='https://www.tysers.com/wp-content/uploads/2020/04/music-slider-bg.jpg' alt='Second slide')
                h3.text-uppercase Enlighten yourself
            .carousel-item
            center 
                img.d-block.w-100.h-55(src='https://ccsrightsmanagement.com/wp-content/uploads/2021/10/Romes-1920x1080-ccs-slider-1.jpg' alt='Third slide')
                h3.text-uppercase Quality at the best price
        
        script.  
            $('.carousel').carousel({
                interval: 3000
            })


    //- div.wrapper
    //- h4.text-center.mt-5.centeralign Welcome to the #{title}

    //- .container.search_container
    //-     label.search_label.form-label(for="search") Find Your Favourite Song Here
    //-     .mb-3
    //-     .input-group
    //-         input#search.form-control.form-control-lg(type="text", placeholder="Search by Name, Artist, Genre...")
    //-         button.btn.btn-secondary.btn-lg.bg-dark
    //-             svg.bi.bi-search(xmlns="http://www.w3.org/2000/svg",width="16",height="16",fill="currentColor",viewBox="0 0 16 16")
    //-                 path(d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z")
    
                    