extends layout

block content
    div.wrapper
    h4.text-center.mt-5.centeralign Welcome to the #{title}

    .container.search_container
        label.search_label.form-label(for="search") Find Your Favourite Song Here
        .mb-3
        .input-group
            input#search.form-control.form-control-lg(type="text", placeholder="Search by Name, Artist, Genre...")
            button.btn.btn-secondary.btn-lg.bg-dark
                svg.bi.bi-search(xmlns="http://www.w3.org/2000/svg",width="16",height="16",fill="currentColor",viewBox="0 0 16 16")
                    path(d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z")
    
                    