<h1 class="text-center mt-5 display-5">Product Details page <div class="mar">
        <div class="shadow-lg p-3 bg-white rounded m-5">
            <div class="row">
                <div class="col-12 c ml">
                    <div class="card shadow-sm mb-5 bg-white rounded text-decoration-none pb-5">
                        <div>
                            <a class="bg-info btn btn-secondary"> Edit</a>
                            <a class="bg-info btn btn-secondary"> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</h1>