<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mt-3">
      <form class="albumform" id="albumformdata" action="/create" method="POST">
        <div class="form-group row mb-3">
          <label class="col-10 col-sm-2 col-form-label">Album Name </label>
          <div class="col-12 col-sm-10">
            <input [(ngModel)]="newAlbum.name" class="form-control" id="name" type="text" aria-describedby=""
              placeholder="Enter Artist Name" name="name" />
          </div>
        </div>
        <div class="form-group row mb-3">
          <label class="col-10 col-sm-2 col-form-label">Tracks</label>
          <div class="col-12 col-sm-10">
            <input [(ngModel)]="newAlbum.tracks" class="form-control" id="tracks" type="text" aria-describedby=""
              placeholder="Enter Track" name="tracks" />
          </div>
        </div>
        <div class="form-group row mb-3">
          <label class="col-10 col-sm-2 col-form-label">Genre</label>
          <div class="col-12 col-sm-10">
            <input [(ngModel)]="newAlbum.genre" class="form-control" id="genre" type="text" aria-describedby=""
              placeholder="Enter Genre" name="genre" />
          </div>
        </div>
        <div class="form-group row mb-3">
          <label class="col-10 col-sm-2 col-form-label">Description</label>
          <div class="col-12 col-sm-10">
            <textarea [(ngModel)]="newAlbum.description" class="form-control" id="description" type="text" rows="5"
              placeholder="Enter Description" name="description"></textarea>
          </div>
        </div>
        <div class="col-12 col-md-4"></div>
        <div class="form-group row mb-3">
          <label for="image">Poster URL (Paste the link from the
            browser):</label>
          <input [(ngModel)]="newAlbum.image" class="form-control" type="text" name="image"
            placeholder="Paste the Poster URL for the movie" />
        </div>
        <!-- <div class="form-group row mb-3">
          <label for="image"
            >Poster URL (Paste the link from the browser):</label
          >
          <input
            [(ngModel)]="newAlbum.image"
            class="form-control"
            type="text"
            name="image"
            placeholder="Paste the Poster URL for the movie"
          /> -->
        <!-- </div> -->
        <button class="btn btn-primary" id="sub" (click)="createAlbum(newAlbum)" type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>